# Projet 9 - Étude de marché

# *1 - Librairies et fonction*

### 1.1 - Librairies

In [1]:
# Importation des librairies

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# Suppression des warnings 

import sys
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

### 1.2 - Fonction

In [2]:
# Déclaration d'une fonction 

def analyseDataFrame(df):
    """Fonction qui prend en arguments un dataframe pour analyse."""

    name =[x for x in globals() if globals()[x] is df][0]
    print("La dimension de DataFrame « " + name  +" » : " + str(df.shape) + " (lignes, colonnes)\n")
    display(temp_var = df.info())
    display(df.describe().T)
    display(df.head(5))
    
    # Afficher les colonnes qui sont unique dans le DataFrame df
    print("Test d'unicité sur les colonnes de DataFrame :")
    test_unicite = 0
    for col in df.columns :
        if df[col].size == df.drop_duplicates(col)[col].size :
          display(f'« {col:s} » est unique, et pourrait être une clé primaire.')
          test_unicite = 1
    if test_unicite == 0 :
        print("Il n'y a pas d'unicité dans aucune colonne. Il n'y a pas de clé primaire")

    print("Compter les nulles pour chaque colonne :")
    display(df.isnull().sum())
    
    print("Compter les duplicates:")
    display(df.duplicated().sum())

# *2 - Importation des fichiers et initialisation des DataFrames*

In [3]:
# Importation des données au format csv

Df_dispoAlim_2017 = pd.read_csv("DisponibiliteAlimentaire_2017.csv")
Df_pop_2000_2018 = pd.read_csv("Population_2000_2018.csv")
Df_stabPolitique = pd.read_csv("FAO_StabPolitique.csv")



Df_pib = pd.read_csv("FAO_PIB_V01.csv")
Df_co2 = pd.read_csv("FAO_CO2.csv")

## Df_dispoAlim_2017

In [4]:
# Visualisation de Df_dispoAlim_2017 avec la fonction déclarée plus haut

analyseDataFrame(Df_dispoAlim_2017)

La dimension de DataFrame « Df_dispoAlim_2017 » : (176600, 14) (lignes, colonnes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

,count,mean,std,min,25%,50%,75%,max
Code zone,176600.0,125.474740,72.941699,1.0,63.0,120.00,188.0000,276.0
Code Élément,176600.0,3810.052894,2211.790089,645.0,684.0,5142.00,5301.0000,5911.0
Code Produit,176600.0,2628.778545,91.993247,2511.0,2556.0,2612.00,2732.0000,2899.0
Code année,176600.0,2017.000000,0.000000,2017.0,2017.0,2017.00,2017.0000,2017.0
Année,176600.0,2017.000000,0.000000,2017.0,2017.0,2017.00,2017.0000,2017.0
Valeur,176600.0,210.554918,4762.047787,-10388.0,0.0,0.12,8.4625,758548.0

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

Test d'unicité sur les colonnes de DataFrame :
Il n'y a pas d'unicité dans aucune colonne. Il n'y a pas de clé primaire
Compter les nulles pour chaque colonne :

Code Domaine              0
Domaine                   0
Code zone                 0
Zone                      0
Code Élément              0
Élément                   0
Code Produit              0
Produit                   0
Code année                0
Année                     0
Unité                     0
Valeur                    0
Symbole                   0
Description du Symbole    0
dtype: int64

Compter les duplicates:

0

In [5]:
# Pivot avec agrègation des valeurs en prenant la somme de la variable "Valeur", indexé par "Zone" et "Année"

Df_DispoAlim = pd.pivot_table(Df_dispoAlim_2017, values="Valeur", index=["Zone", "Année"], columns=["Élément"], aggfunc=np.sum).reset_index().copy()
print(Df_DispoAlim.shape) # Donne le nombre de ligne et de colonne du dataFrame
Df_DispoAlim.head(2) # Visualisation des 2 premières lignes du dataFrame

(174, 19)

Élément,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
0,Afghanistan,2017,NaN,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,601.0,4555.0,12968.0,1146.0,11609.0,-111.0,470.0,115.0,426.0
1,Afrique du Sud,2017,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,10968.0,9020.0,31726.0,3108.0,68455.0,-594.0,212.0,21564.0,-322.0

In [6]:
# Création d'un dataFrame "Df_temps" contenant uniquement les valeurs concernant "Viande de Volailles" pour la colonne "Élément"

Df_temp = Df_dispoAlim_2017[Df_dispoAlim_2017["Produit"] == "Viande de Volailles"]


#Création d'une colonne "ÉlémentEtProduit" ajouant "V-" devant les valeurs de la colonne "Élément" issue du dataFrame "Df_temps"

Df_temp["ÉlémentEtProduit"] = "V-" + Df_temp["Élément"]


# Création d'un dataFrame "Df_volailles", avec pivot des données de la colonne "ÉlémentEtProduit" et agrègation des valeurs en prenant la somme de la variable "Valeur", indexé par "Zays" et "Année"

Df_volailles = pd.pivot_table(Df_temp, values="Valeur", index=["Zone","Année"], columns=["ÉlémentEtProduit"], aggfunc=np.sum).reset_index().copy()
print(Df_volailles.shape) # Donne le nombre de ligne et de colonne du dataFrame
Df_volailles.head(2)# Visualisation des 2 premières lignes du dataFrame

(172, 19)

ÉlémentEtProduit,Zone,Année,V-Alimentation pour touristes,V-Aliments pour animaux,V-Autres utilisations (non alimentaire),V-Disponibilité alimentaire (Kcal/personne/jour),V-Disponibilité alimentaire en quantité (kg/personne/an),V-Disponibilité de matière grasse en quantité (g/personne/jour),V-Disponibilité de protéines en quantité (g/personne/jour),V-Disponibilité intérieure,V-Exportations - Quantité,V-Importations - Quantité,V-Nourriture,V-Pertes,V-Production,V-Résidus,V-Semences,V-Traitement,V-Variation de stock
0,Afghanistan,2017,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
1,Afrique du Sud,2017,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,0.0

In [7]:
# Création d'un dataFrame "Df_AlimT_Vol", issu d'un Merge externe des dataFrames "Df_DispoAlim" et "Df_volailles"

Df_AlimT_Vol = Df_DispoAlim.merge(Df_volailles, on=["Zone", "Année"], how="outer", indicator=True)
print(Df_AlimT_Vol.shape) # Donne le nombre de ligne et de colonne du dataFrame
Df_AlimT_Vol.head() # Visualisation des 5 premières lignes du dataFrame

(174, 37)

,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,V-Exportations - Quantité,V-Importations - Quantité,V-Nourriture,V-Pertes,V-Production,V-Résidus,V-Semences,V-Traitement,V-Variation de stock,_merge
0,Afghanistan,2017,NaN,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,...,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0,both
1,Afrique du Sud,2017,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,...,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,0.0,both
2,Albanie,2017,NaN,697.0,177.0,3400.0,1260.49,117.57,119.50,4879.0,...,0.0,38.0,47.0,NaN,13.0,0.0,NaN,NaN,4.0,both
3,Algérie,2017,0.0,4884.0,2405.0,3345.0,798.71,79.62,92.85,45365.0,...,0.0,2.0,264.0,13.0,275.0,0.0,NaN,NaN,0.0,both
4,Allemagne,2017,NaN,30904.0,8316.0,3559.0,943.24,147.96,104.07,174960.0,...,646.0,842.0,1609.0,NaN,1514.0,-38.0,NaN,167.0,-29.0,both

In [8]:
# Affichage des données uniques de la colonne "_merge" du dataFrame "Df_AlimT_Vol"

print(Df_AlimT_Vol["_merge"].unique())

['both', 'left_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [9]:
# Création d'un dataFrame "Df_NotExist" avec une nouvelle colonne "Not_Existe" et les colonnes "Zone" et "_merge"

Df_NotExist = pd.DataFrame(columns=["Not_Existe", "Zone", "_merge"])

In [10]:
# Création d'une boucle permettant la visualisation des pays n'étant pas présents dans les deux dataFrame

print("Les pays ci-après n'existe pas dans le fichier",'Df_DispoAlim ou Df_volailles (DisponibiliteAlimentaire_2017.csv)')
for index, row in Df_AlimT_Vol[Df_AlimT_Vol['_merge']!="both"][["Zone", "_merge"]].iterrows() :
    if len(Df_volailles[Df_volailles["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({"Not_Existe": "Df_volailles", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)

    if len(Df_DispoAlim[Df_DispoAlim["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({"Not_Existe": "Df_DispoAlim", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)

print(Df_NotExist)

Les pays ci-après n'existe pas dans le fichier Df_DispoAlim ou Df_volailles (DisponibiliteAlimentaire_2017.csv)
     Not_Existe               Zone     _merge
0  Df_volailles           Bermudes  left_only
1  Df_volailles  Brunéi Darussalam  left_only

In [11]:
# visualisation des valeurs différentes de "both", de la colonne "_merge", du dataFrame "Df_AlimT_Vol" 

Df_AlimT_Vol[Df_AlimT_Vol["_merge"]!="both"]

,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,V-Exportations - Quantité,V-Importations - Quantité,V-Nourriture,V-Pertes,V-Production,V-Résidus,V-Semences,V-Traitement,V-Variation de stock,_merge
18,Bermudes,2017,NaN,1.0,0.0,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,Brunéi Darussalam,2017,NaN,11.0,0.0,NaN,NaN,NaN,NaN,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [12]:

Df_AlimT_Vol = Df_AlimT_Vol.drop(["_merge"], axis=1) # Suppression de la colonne "_merge" du dataFrame "Df_AlimT_Vol"
Df_AlimT_Vol.set_index("Zone", inplace=True) # La colonne "Zone" devient l'index de ligne
Df_AlimT_Vol = Df_AlimT_Vol.fillna(0) # Remplace les valeurs "nan" par "0"
Df_AlimT_Vol.head() # Visualisation des 5 premières lignes du dataFrame

,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,...,V-Disponibilité intérieure,V-Exportations - Quantité,V-Importations - Quantité,V-Nourriture,V-Pertes,V-Production,V-Résidus,V-Semences,V-Traitement,V-Variation de stock
Zone,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2017,0.0,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,601.0,...,57.0,0.0,29.0,55.0,2.0,28.0,0.0,0.0,0.0,0.0
Afrique du Sud,2017,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,10968.0,...,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,0.0,0.0,0.0
Albanie,2017,0.0,697.0,177.0,3400.0,1260.49,117.57,119.50,4879.0,156.0,...,47.0,0.0,38.0,47.0,0.0,13.0,0.0,0.0,0.0,4.0
Algérie,2017,0.0,4884.0,2405.0,3345.0,798.71,79.62,92.85,45365.0,743.0,...,277.0,0.0,2.0,264.0,13.0,275.0,0.0,0.0,0.0,0.0
Allemagne,2017,0.0,30904.0,8316.0,3559.0,943.24,147.96,104.07,174960.0,58793.0,...,1739.0,646.0,842.0,1609.0,0.0,1514.0,-38.0,0.0,167.0,-29.0

In [13]:
# Visualisation du nombre de lignes, de colonnes et du noms des colonnes du dataFrame "Df_AlimT_Vol" 

print(Df_AlimT_Vol.shape)
Df_AlimT_Vol.columns

(174, 35)

Index(['Année', 'Alimentation pour touristes', 'Aliments pour animaux',
       'Autres utilisations (non alimentaire)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Résidus', 'Semences', 'Traitement', 'Variation de stock',
       'V-Alimentation pour touristes', 'V-Aliments pour animaux',
       'V-Autres utilisations (non alimentaire)',
       'V-Disponibilité alimentaire (Kcal/personne/jour)',
       'V-Disponibilité alimentaire en quantité (kg/personne/an)',
       'V-Disponibilité de matière grasse en quantité (g/personne/jour)',
       'V-Disponibilité de protéines en quantité (g/personne/jour)',
       'V-Disponibilité intérieure', 'V-Exportations - Quantité',
       'V-Importations - Quantité', 'V-Nourriture', 'V-Pertes', 'V-Production',
       'V-Résidus', 'V-Semences', 'V-Traitement', 'V-Variation de stock'],
      dtype='object')

In [14]:
# Calcul du pourcentage de l'Autosuffisance et de l'importation 

Df_AlimT_Vol["V-Ratio_Autosuffisance"] = round((Df_AlimT_Vol["V-Production"] / Df_AlimT_Vol["V-Disponibilité intérieure"])*100,2)
Df_AlimT_Vol["V-Ratio_Importations"] = round((Df_AlimT_Vol["Importations - Quantité"] / Df_AlimT_Vol["V-Disponibilité intérieure"])*100,2)
Df_AlimT_Vol["Ratio_Autosuffisance"] = round((Df_AlimT_Vol["Production"] / Df_AlimT_Vol["Disponibilité intérieure"])*100,2)
Df_AlimT_Vol["Ratio_Importations"] = round((Df_AlimT_Vol["Importations - Quantité"] / Df_AlimT_Vol["Disponibilité intérieure"])*100,2)

# Population

In [15]:
# Pivot avec agrègation des valeurs en prenant la somme de la variable "Valeur", indexé par "Zone" et "Année"

Df_popAnnee = pd.pivot_table(Df_pop_2000_2018, values="Valeur", index=["Zone"], columns=["Année"], aggfunc=np.sum).reset_index().copy()
print(Df_popAnnee.shape) # Donne le nombre de lignes et de colonnes du dataFrame "Df_pop_2000_2018"
Df_popAnnee.head() # Visualisation des 5 premières lignes du dataFrame

(238, 20)

Année,Zone,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,20779.953,21606.988,22600.770,23680.871,24726.684,25654.277,26433.049,27100.536,27722.276,28394.813,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921
1,Afrique du Sud,44967.708,45571.274,46150.913,46719.196,47291.610,47880.601,48489.459,49119.759,49779.471,50477.011,51216.964,52003.755,52832.658,53687.121,54544.186,55386.367,56207.646,57009.756,57792.518
2,Albanie,3129.243,3129.704,3126.187,3118.023,3104.892,3086.810,3063.021,3033.998,3002.678,2973.048,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740
3,Algérie,31042.235,31451.514,31855.109,32264.157,32692.163,33149.724,33641.002,34166.972,34730.608,35333.881,35977.455,36661.445,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189,42228.408
4,Allemagne,81400.882,81453.885,81535.122,81614.380,81646.474,81602.741,81472.226,81277.830,81065.752,80899.961,80827.002,80855.632,80972.628,81174.367,81450.378,81787.411,82193.768,82658.409,83124.418

In [16]:
# Création d'une colonne "Croissance_pop" et calcul de la croissance de la population exprimé en pourcentage

Df_popAnnee["Croissance_pop"] = round(((Df_popAnnee[2017] - Df_popAnnee[2013]) / Df_popAnnee[2013])*100,2)
Df_popAnnee # Visualisation du dataFrame

Année,Zone,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Croissance_pop
0,Afghanistan,20779.953,21606.988,22600.770,23680.871,24726.684,25654.277,26433.049,27100.536,27722.276,...,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921,12.48
1,Afrique du Sud,44967.708,45571.274,46150.913,46719.196,47291.610,47880.601,48489.459,49119.759,49779.471,...,51216.964,52003.755,52832.658,53687.121,54544.186,55386.367,56207.646,57009.756,57792.518,6.19
2,Albanie,3129.243,3129.704,3126.187,3118.023,3104.892,3086.810,3063.021,3033.998,3002.678,...,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740,-0.68
3,Algérie,31042.235,31451.514,31855.109,32264.157,32692.163,33149.724,33641.002,34166.972,34730.608,...,35977.455,36661.445,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189,42228.408,8.52
4,Allemagne,81400.882,81453.885,81535.122,81614.380,81646.474,81602.741,81472.226,81277.830,81065.752,...,80827.002,80855.632,80972.628,81174.367,81450.378,81787.411,82193.768,82658.409,83124.418,1.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Îles Salomon,412.660,423.944,435.432,447.017,458.539,469.918,481.078,492.132,503.360,...,527.861,541.521,556.063,571.336,587.079,603.118,619.438,636.039,652.857,11.32
234,Îles Turques-et-Caïques,20.164,21.573,23.232,25.011,26.700,28.180,29.391,30.385,31.202,...,32.660,33.377,34.066,34.731,35.369,35.981,36.559,37.115,37.665,6.86
235,Îles Vierges américaines,108.722,108.691,108.561,108.360,108.092,107.794,107.462,107.115,106.756,...,106.087,105.793,105.534,105.303,105.114,104.958,104.835,104.751,104.680,-0.52
236,Îles Vierges britanniques,20.311,20.675,21.129,21.672,22.334,23.107,24.023,25.047,26.097,...,27.794,28.319,28.650,28.847,28.989,29.152,29.355,29.577,29.802,2.53
237,Îles Wallis-et-Futuna,14.694,14.843,14.988,15.096,15.093,14.939,14.609,14.132,13.578,...,12.689,12.462,12.375,12.356,12.340,12.266,12.107,11.900,11.661,-3.69

In [17]:
# Renommage de la colonne "2017" par "Population_2017"

Df_popAnnee.rename(columns={2017: "Population_2017"}, inplace=True)

In [18]:
# Création d'un dataFrame "Df_AlimT_Vol_pop", issu d'un Merge externe des dataFrames "Df_AlimT_Vol" et "Df_popAnnee", concernant uniquement les données liées à l'année "2017"

Df_AlimT_Vol_pop = Df_AlimT_Vol.merge(Df_popAnnee[["Zone", "Croissance_pop", "Population_2017"]], on=["Zone"], how="outer", indicator=True)
print(Df_AlimT_Vol_pop.shape) # Donne le nombre de ligne et de colonne du dataFrame
Df_AlimT_Vol_pop.head(2) # visualisation des 2 premières lignes du dataFrame

(238, 43)

,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,V-Semences,V-Traitement,V-Variation de stock,V-Ratio_Autosuffisance,V-Ratio_Importations,Ratio_Autosuffisance,Ratio_Importations,Croissance_pop,Population_2017,_merge
0,Afghanistan,2017.0,0.0,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,...,0.0,0.0,0.0,49.12,7991.23,76.68,30.09,12.48,36296.113,both
1,Afrique du Sud,2017.0,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,...,0.0,0.0,0.0,78.71,425.87,102.42,13.49,6.19,57009.756,both

In [19]:
# Création d'une boucle permettant la visualisation des pays n'étant pas présents dans les deux dataFrame

print("Les pays ci-après n'existe pas dans le fichier","Df_popAnnee ou Df_AlimT_Vol (Population_2000_2018.csv)")
for index, row in Df_AlimT_Vol_pop[Df_AlimT_Vol_pop['_merge']!='both'][['Zone', '_merge']].iterrows() :
    if len(Df_popAnnee[Df_popAnnee["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({"Not_Existe": "Df_popAnnee", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)
    df = Df_AlimT_Vol.reset_index()
    if len(df[df["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({"Not_Existe": "Df_AlimT_Vol", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)
print(Df_NotExist.shape)
print(Df_NotExist)

Les pays ci-après n'existe pas dans le fichier Df_popAnnee ou Df_AlimT_Vol (Population_2000_2018.csv)
(66, 3)
      Not_Existe                         Zone      _merge
0   Df_volailles                     Bermudes   left_only
1   Df_volailles            Brunéi Darussalam   left_only
2   Df_AlimT_Vol                      Andorre  right_only
3   Df_AlimT_Vol                     Anguilla  right_only
4   Df_AlimT_Vol  Antilles néerlandaises (ex)  right_only
..           ...                          ...         ...
61  Df_AlimT_Vol                Îles Marshall  right_only
62  Df_AlimT_Vol      Îles Turques-et-Caïques  right_only
63  Df_AlimT_Vol     Îles Vierges américaines  right_only
64  Df_AlimT_Vol    Îles Vierges britanniques  right_only
65  Df_AlimT_Vol        Îles Wallis-et-Futuna  right_only

[66 rows x 3 columns]

In [20]:
# visualisation des valeurs correspondantes à "both", de la colonne "_merge", du dataFrame "Df_AlimT_Vol_pop" 

Df_AlimT_Vol_pop = Df_AlimT_Vol_pop[Df_AlimT_Vol_pop["_merge"]=="both"]
Df_AlimT_Vol_pop = Df_AlimT_Vol_pop.drop(["_merge"], axis=1) # Supression de la colonne "_merge"

# PIB

In [21]:
# Renommage de la colonne "Valeur" par "PIB"

Df_pib.rename(columns={"Valeur": "PIB"}, inplace=True)
print(Df_pib.shape) # Donne le nombre de ligne et de colonne
Df_pib.head() # visualisation des 5 premières lignes du dataFrame

(187, 15)

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,PIB,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,2058.4,X,Ciffre de sources internationales,NaN
1,FS,Données de la sécurité alimentaire,710,Afrique du Sud,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,13860.3,X,Ciffre de sources internationales,NaN
2,FS,Données de la sécurité alimentaire,8,Albanie,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,12771.0,X,Ciffre de sources internationales,NaN
3,FS,Données de la sécurité alimentaire,12,Algérie,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,11737.4,X,Ciffre de sources internationales,NaN
4,FS,Données de la sécurité alimentaire,276,Allemagne,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,53071.5,X,Ciffre de sources internationales,NaN

In [22]:
# Création d'un dataFrame "Df_AlimT_Vol_pop_PIB", issu d'un Merge externe des dataFrames "Df_Alimt_Vol_pop" et "Df_pib"

Df_AlimT_Vol_pop_PIB = Df_AlimT_Vol_pop.merge(Df_pib[["Zone", "PIB"]], on=["Zone"], how="outer", indicator=True)
print(Df_AlimT_Vol_pop_PIB.shape) # Donne le nombre de ligne et de colonne
Df_AlimT_Vol_pop_PIB.head() # Visualisation des 5 premières lignes du dataFrame

(195, 44)

,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,V-Traitement,V-Variation de stock,V-Ratio_Autosuffisance,V-Ratio_Importations,Ratio_Autosuffisance,Ratio_Importations,Croissance_pop,Population_2017,PIB,_merge
0,Afghanistan,2017.0,0.0,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,...,0.0,0.0,49.12,7991.23,76.68,30.09,12.48,36296.113,2058.4,both
1,Afrique du Sud,2017.0,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,...,0.0,0.0,78.71,425.87,102.42,13.49,6.19,57009.756,13860.3,both
2,Albanie,2017.0,0.0,697.0,177.0,3400.0,1260.49,117.57,119.50,4879.0,...,0.0,4.0,27.66,1880.85,86.72,18.12,-0.68,2884.169,12771.0,both
3,Algérie,2017.0,0.0,4884.0,2405.0,3345.0,798.71,79.62,92.85,45365.0,...,0.0,0.0,99.28,7118.41,58.99,43.47,8.52,41389.189,11737.4,both
4,Allemagne,2017.0,0.0,30904.0,8316.0,3559.0,943.24,147.96,104.07,174960.0,...,167.0,-29.0,87.06,3826.91,95.92,38.04,1.83,82658.409,53071.5,both

In [23]:
# Affichage des données uniques de la colonne "_merge" du dataFrame "Df_AlimT_Vol_pop_PIB"

Df_AlimT_Vol_pop_PIB["_merge"].unique()

['both', 'left_only', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [24]:
# Création d'une boucle permettant la visualisation des pays n'étant pas présents dans les deux dataFrame

print("Les pays ci-après n'existe pas dans le fichier","Df_pib ou Df_AlimT_Vol_pop (FAO_PIB_V01.csv)")
for index, row in Df_AlimT_Vol_pop_PIB[Df_AlimT_Vol_pop_PIB["_merge"]!="both"][["Zone", "_merge"]].iterrows() :
    if len(Df_pib[Df_pib["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({"Not_Existe": "Df_pib", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)
    df = Df_AlimT_Vol_pop.reset_index()
    if len(df[df["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({"Not_Existe": "Df_AlimT_Vol_pop", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)
print(Df_NotExist.shape)
print(Df_NotExist)

Les pays ci-après n'existe pas dans le fichier Df_pib ou Df_AlimT_Vol_pop (FAO_PIB_V01.csv)
(75, 3)
          Not_Existe                                        Zone      _merge
0       Df_volailles                                    Bermudes   left_only
1       Df_volailles                           Brunéi Darussalam   left_only
2       Df_AlimT_Vol                                     Andorre  right_only
3       Df_AlimT_Vol                                    Anguilla  right_only
4       Df_AlimT_Vol                 Antilles néerlandaises (ex)  right_only
..               ...                                         ...         ...
70            Df_pib                         Polynésie française   left_only
71            Df_pib  République populaire démocratique de Corée   left_only
72            Df_pib      Venezuela (République bolivarienne du)   left_only
73            Df_pib                                       Yémen   left_only
74  Df_AlimT_Vol_pop                                       Chine  right_only

[75 rows x 3 columns]

In [25]:

Df_AlimT_Vol_pop_PIB = Df_AlimT_Vol_pop_PIB[Df_AlimT_Vol_pop_PIB["_merge"]=="both"]# On garde uniquement les valeurs "both" de la colonne "_merge"
Df_AlimT_Vol_pop_PIB = Df_AlimT_Vol_pop_PIB.drop(["_merge"], axis=1) # Suppression de la colonne "_merge"
print(Df_AlimT_Vol_pop_PIB.shape) # Donne le nombre de ligne et de colonne
Df_AlimT_Vol_pop_PIB.head() # Visualisation des 5 premières lignes du dataFrame

(166, 43)

,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,V-Semences,V-Traitement,V-Variation de stock,V-Ratio_Autosuffisance,V-Ratio_Importations,Ratio_Autosuffisance,Ratio_Importations,Croissance_pop,Population_2017,PIB
0,Afghanistan,2017.0,0.0,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,...,0.0,0.0,0.0,49.12,7991.23,76.68,30.09,12.48,36296.113,2058.4
1,Afrique du Sud,2017.0,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,...,0.0,0.0,0.0,78.71,425.87,102.42,13.49,6.19,57009.756,13860.3
2,Albanie,2017.0,0.0,697.0,177.0,3400.0,1260.49,117.57,119.50,4879.0,...,0.0,0.0,4.0,27.66,1880.85,86.72,18.12,-0.68,2884.169,12771.0
3,Algérie,2017.0,0.0,4884.0,2405.0,3345.0,798.71,79.62,92.85,45365.0,...,0.0,0.0,0.0,99.28,7118.41,58.99,43.47,8.52,41389.189,11737.4
4,Allemagne,2017.0,0.0,30904.0,8316.0,3559.0,943.24,147.96,104.07,174960.0,...,0.0,167.0,-29.0,87.06,3826.91,95.92,38.04,1.83,82658.409,53071.5

# Stabilité Plitique

In [26]:
# Renommage de la colonne "Valeur" par "Stabilité_Politique"

Df_stabPolitique.rename(columns={"Valeur": "Stabilité_Politique"}, inplace=True)
print(Df_stabPolitique.shape) # Donne le nombre de ligne et de colonne
Df_stabPolitique.head() # Visualisation des 5 premières lignes du dataFrame

(3908, 15)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Stabilité_Politique,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2000,2000,indice,-2.44,X,Ciffre de sources internationales,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2002,2002,indice,-2.04,X,Ciffre de sources internationales,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2003,2003,indice,-2.20,X,Ciffre de sources internationales,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2004,2004,indice,-2.30,X,Ciffre de sources internationales,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2005,2005,indice,-2.07,X,Ciffre de sources internationales,NaN

In [27]:
# On garde uniquement données liées à "2017" et les colonnes "Zone" et "Stabilité_Politique"

Df_stabPolitique = Df_stabPolitique[Df_stabPolitique["Année"] == 2017][["Zone","Stabilité_Politique"]]
print(Df_stabPolitique.shape) # Donne le nombre de ligne et de colonne
Df_stabPolitique.head() # Visualisation des 5 premières lignes du dataFrame

(197, 2)

              Zone  Stabilité_Politique
16     Afghanistan                -2.80
36  Afrique du Sud                -0.28
56         Albanie                 0.38
76         Algérie                -0.92
96       Allemagne                 0.59

In [28]:
# Création d'un dataFrame "Df_AlimT_Vol_pop_PIB_stabPolitique", issu d'un Merge externe des dataFrames "Df_Alimt_Vol_pop_PIB" et "Df_stabPolitique"

Df_AlimT_Vol_pop_PIB_stabPolitique = Df_AlimT_Vol_pop_PIB.merge(Df_stabPolitique[["Zone", "Stabilité_Politique"]], on=["Zone"], how="outer", indicator=True)
print(Df_AlimT_Vol_pop_PIB_stabPolitique.shape) # Donne le nombre de ligne et de colonne
Df_AlimT_Vol_pop_PIB_stabPolitique.head() # Visualisation des 5 premières lignes du dataFrame

(197, 45)

,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,V-Variation de stock,V-Ratio_Autosuffisance,V-Ratio_Importations,Ratio_Autosuffisance,Ratio_Importations,Croissance_pop,Population_2017,PIB,Stabilité_Politique,_merge
0,Afghanistan,2017.0,0.0,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,...,0.0,49.12,7991.23,76.68,30.09,12.48,36296.113,2058.4,-2.80,both
1,Afrique du Sud,2017.0,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,...,0.0,78.71,425.87,102.42,13.49,6.19,57009.756,13860.3,-0.28,both
2,Albanie,2017.0,0.0,697.0,177.0,3400.0,1260.49,117.57,119.50,4879.0,...,4.0,27.66,1880.85,86.72,18.12,-0.68,2884.169,12771.0,0.38,both
3,Algérie,2017.0,0.0,4884.0,2405.0,3345.0,798.71,79.62,92.85,45365.0,...,0.0,99.28,7118.41,58.99,43.47,8.52,41389.189,11737.4,-0.92,both
4,Allemagne,2017.0,0.0,30904.0,8316.0,3559.0,943.24,147.96,104.07,174960.0,...,-29.0,87.06,3826.91,95.92,38.04,1.83,82658.409,53071.5,0.59,both

In [29]:
# Affichage des données uniques de la colonne "_merge" du dataFrame "Df_AlimT_Vol_pop_PIB_stabPolitique"

Df_AlimT_Vol_pop_PIB_stabPolitique["_merge"].unique()

['both', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [30]:
# Création d'une boucle permettant la visualisation des pays n'étant pas présents dans les deux dataFrame

print("Les pays ci-après n'existe pas dans le fichier","Df_stabPolitique ou Df_AlimT_Vol_pop_PIB (FAO_StabPolitique.csv)")
for index, row in Df_AlimT_Vol_pop_PIB_stabPolitique[Df_AlimT_Vol_pop_PIB_stabPolitique["_merge"]!="both"][["Zone", "_merge"]].iterrows() :
    if len(Df_stabPolitique[Df_stabPolitique["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({"Not_Existe": "Df_stabPolitique", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)
    df = Df_AlimT_Vol_pop_PIB.reset_index()
    if len(df[df["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({'Not_Existe': "Df_AlimT_Vol_pop_PIB", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)
print(Df_NotExist.shape)
print(Df_NotExist)

Les pays ci-après n'existe pas dans le fichier Df_stabPolitique ou Df_AlimT_Vol_pop_PIB (FAO_StabPolitique.csv)
(75, 3)
          Not_Existe                                        Zone      _merge
0       Df_volailles                                    Bermudes   left_only
1       Df_volailles                           Brunéi Darussalam   left_only
2       Df_AlimT_Vol                                     Andorre  right_only
3       Df_AlimT_Vol                                    Anguilla  right_only
4       Df_AlimT_Vol                 Antilles néerlandaises (ex)  right_only
..               ...                                         ...         ...
70            Df_pib                         Polynésie française   left_only
71            Df_pib  République populaire démocratique de Corée   left_only
72            Df_pib      Venezuela (République bolivarienne du)   left_only
73            Df_pib                                       Yémen   left_only
74  Df_AlimT_Vol_pop                                       Chine  right_only

[75 rows x 3 columns]

In [31]:
# On garde uniquement la valeur "both" de la colonne "_merge" du dataFrame "Df_AlimT_Vol_pop_PIB_stabPolitique"

Df_AlimT_Vol_pop_PIB_stabPolitique = Df_AlimT_Vol_pop_PIB_stabPolitique[Df_AlimT_Vol_pop_PIB_stabPolitique["_merge"]=='both']
Df_AlimT_Vol_pop_PIB_stabPolitique = Df_AlimT_Vol_pop_PIB_stabPolitique.drop(["_merge"], axis=1)# Suppression de la colonne "_merge"
print(Df_AlimT_Vol_pop_PIB_stabPolitique.shape) # Donne le nombre de ligne et de colonne
Df_AlimT_Vol_pop_PIB_stabPolitique.head() # Visualisation des 5 premières lignes du dataFrame

(166, 44)

,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,V-Traitement,V-Variation de stock,V-Ratio_Autosuffisance,V-Ratio_Importations,Ratio_Autosuffisance,Ratio_Importations,Croissance_pop,Population_2017,PIB,Stabilité_Politique
0,Afghanistan,2017.0,0.0,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,...,0.0,0.0,49.12,7991.23,76.68,30.09,12.48,36296.113,2058.4,-2.80
1,Afrique du Sud,2017.0,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,...,0.0,0.0,78.71,425.87,102.42,13.49,6.19,57009.756,13860.3,-0.28
2,Albanie,2017.0,0.0,697.0,177.0,3400.0,1260.49,117.57,119.50,4879.0,...,0.0,4.0,27.66,1880.85,86.72,18.12,-0.68,2884.169,12771.0,0.38
3,Algérie,2017.0,0.0,4884.0,2405.0,3345.0,798.71,79.62,92.85,45365.0,...,0.0,0.0,99.28,7118.41,58.99,43.47,8.52,41389.189,11737.4,-0.92
4,Allemagne,2017.0,0.0,30904.0,8316.0,3559.0,943.24,147.96,104.07,174960.0,...,167.0,-29.0,87.06,3826.91,95.92,38.04,1.83,82658.409,53071.5,0.59

# CO2

In [32]:
# Visualisation du dataFrame "Df_co2"

Df_co2

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2000,2000,kilotonnes,25.0585,E,Valeur estimée
1,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2001,2001,kilotonnes,28.5361,E,Valeur estimée
2,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2002,2002,kilotonnes,37.4770,E,Valeur estimée
3,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2003,2003,kilotonnes,38.7123,E,Valeur estimée
4,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2004,2004,kilotonnes,41.6129,E,Valeur estimée
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3921,EM,Distribution des émissions,716,Zimbabwe,7273,Émissions (CO2),6996,Farm-gate emissions,2014,2014,kilotonnes,561.2243,E,Valeur estimée
3922,EM,Distribution des émissions,716,Zimbabwe,7273,Émissions (CO2),6996,Farm-gate emissions,2015,2015,kilotonnes,462.2815,E,Valeur estimée
3923,EM,Distribution des émissions,716,Zimbabwe,7273,Émissions (CO2),6996,Farm-gate emissions,2016,2016,kilotonnes,425.8322,E,Valeur estimée
3924,EM,Distribution des émissions,716,Zimbabwe,7273,Émissions (CO2),6996,Farm-gate emissions,2017,2017,kilotonnes,352.6357,E,Valeur estimée
3925,EM,Distribution des émissions,716,Zimbabwe,7273,Émissions (CO2),6996,Farm-gate emissions,2018,2018,kilotonnes,418.7607,E,Valeur estimée

In [33]:
# Renommage de la colonne "Valeur" par "CO2"

Df_co2.rename(columns={"Valeur": "CO2"}, inplace=True)
print(Df_co2.shape) # Donne le nombre de ligne et de colonne
Df_co2.head() # Visualisation des 5 premières lignes du dataFrame

(3926, 14)

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,CO2,Symbole,Description du Symbole
0,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2000,2000,kilotonnes,25.0585,E,Valeur estimée
1,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2001,2001,kilotonnes,28.5361,E,Valeur estimée
2,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2002,2002,kilotonnes,37.4770,E,Valeur estimée
3,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2003,2003,kilotonnes,38.7123,E,Valeur estimée
4,EM,Distribution des émissions,4,Afghanistan,7273,Émissions (CO2),6996,Farm-gate emissions,2004,2004,kilotonnes,41.6129,E,Valeur estimée

In [34]:
# On garde uniquement données liées à "2017" et les colonnes "Zone" et "CO2"

Df_co2 = Df_co2[Df_co2["Année"] == 2017][["Zone","CO2"]]
print(Df_co2.shape)# Donne le nombre de ligne et de colonne
Df_co2.head() # Visualisation des 5 premières lignes du dataFrame

(219, 2)

              Zone         CO2
16     Afghanistan    132.7927
34  Afrique du Sud  10778.1180
52         Albanie    425.6499
70         Algérie    387.1334
88       Allemagne  17581.3788

In [35]:
# Création d'un dataFrame "Df_AlimT_Vol_pop_PIB_stabPolitique_CO2", issu d'un Merge externe des dataFrames "Df_AlimT_Vol_pop_PIB_stabPolitique" et "Df_co2"

Df_AlimT_Vol_pop_PIB_stabPolitique_CO2 = Df_AlimT_Vol_pop_PIB_stabPolitique.merge(Df_co2[["Zone", "CO2"]], on=["Zone"], how="outer", indicator=True)
print(Df_AlimT_Vol_pop_PIB_stabPolitique_CO2.shape) # Donne le nombre de ligne et de colonne
Df_AlimT_Vol_pop_PIB_stabPolitique_CO2.head() # Visualisation des 5 premières lignes du dataFrame

(219, 46)

,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,V-Ratio_Autosuffisance,V-Ratio_Importations,Ratio_Autosuffisance,Ratio_Importations,Croissance_pop,Population_2017,PIB,Stabilité_Politique,CO2,_merge
0,Afghanistan,2017.0,0.0,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,...,49.12,7991.23,76.68,30.09,12.48,36296.113,2058.4,-2.80,132.7927,both
1,Afrique du Sud,2017.0,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,...,78.71,425.87,102.42,13.49,6.19,57009.756,13860.3,-0.28,10778.1180,both
2,Albanie,2017.0,0.0,697.0,177.0,3400.0,1260.49,117.57,119.50,4879.0,...,27.66,1880.85,86.72,18.12,-0.68,2884.169,12771.0,0.38,425.6499,both
3,Algérie,2017.0,0.0,4884.0,2405.0,3345.0,798.71,79.62,92.85,45365.0,...,99.28,7118.41,58.99,43.47,8.52,41389.189,11737.4,-0.92,387.1334,both
4,Allemagne,2017.0,0.0,30904.0,8316.0,3559.0,943.24,147.96,104.07,174960.0,...,87.06,3826.91,95.92,38.04,1.83,82658.409,53071.5,0.59,17581.3788,both

In [36]:
# Affichage des données uniques de la colonne "_merge" du dataFrame "Df_AlimT_Vol_pop_PIB_stabPolitique_CO2"

Df_AlimT_Vol_pop_PIB_stabPolitique_CO2["_merge"].unique()

['both', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [37]:
# Création d'une boucle permettant la visualisation des pays n'étant pas présents dans les deux dataFrame

print("Les pays ci-après n'existe pas dans le fichier","Df_co2 ou Df_AlimT_Vol_pop_PIB_stabPolitique (FAO_CO2.csv)")
for index, row in Df_AlimT_Vol_pop_PIB_stabPolitique_CO2[Df_AlimT_Vol_pop_PIB_stabPolitique_CO2["_merge"]!='both'][["Zone", "_merge"]].iterrows() :
    if len(Df_co2[Df_co2["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({"Not_Existe": "Df_co2", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)
    df = Df_AlimT_Vol_pop_PIB_stabPolitique.reset_index()
    if len(df[df["Zone"] == row["Zone"]]) == 0 :
        if(Df_NotExist[Df_NotExist["Zone"] == row["Zone"]].shape[0] == 0) :
            Df_NotExist = Df_NotExist.append({"Not_Existe": "Df_AlimT_Vol_pop_PIB_stabPolitique", "Zone": row["Zone"], "_merge":row["_merge"]}, ignore_index=True)
print(Df_NotExist.shape)
print(Df_NotExist)

Les pays ci-après n'existe pas dans le fichier Df_co2 ou Df_AlimT_Vol_pop_PIB_stabPolitique (FAO_CO2.csv)
(75, 3)
          Not_Existe                                        Zone      _merge
0       Df_volailles                                    Bermudes   left_only
1       Df_volailles                           Brunéi Darussalam   left_only
2       Df_AlimT_Vol                                     Andorre  right_only
3       Df_AlimT_Vol                                    Anguilla  right_only
4       Df_AlimT_Vol                 Antilles néerlandaises (ex)  right_only
..               ...                                         ...         ...
70            Df_pib                         Polynésie française   left_only
71            Df_pib  République populaire démocratique de Corée   left_only
72            Df_pib      Venezuela (République bolivarienne du)   left_only
73            Df_pib                                       Yémen   left_only
74  Df_AlimT_Vol_pop                                       Chine  right_only

[75 rows x 3 columns]

In [38]:
# On garde uniquement la valeur "both" de la colonne "_merge" du dataFrame "Df_AlimT_Vol_pop_PIB_stabPolitique_CO2"

Df_AlimT_Vol_pop_PIB_stabPolitique_CO2 = Df_AlimT_Vol_pop_PIB_stabPolitique_CO2[Df_AlimT_Vol_pop_PIB_stabPolitique_CO2["_merge"]=="both"]
Df_AlimT_Vol_pop_PIB_stabPolitique_CO2 = Df_AlimT_Vol_pop_PIB_stabPolitique_CO2.drop(["_merge"], axis=1) # Suppression de la colonne "_merge"
print(Df_AlimT_Vol_pop_PIB_stabPolitique_CO2.shape) # Donne le nombre de ligne et de colonne 
Df_AlimT_Vol_pop_PIB_stabPolitique_CO2.head() # Visualisation des 5 premières lignes du dataframe

(166, 45)

,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,V-Variation de stock,V-Ratio_Autosuffisance,V-Ratio_Importations,Ratio_Autosuffisance,Ratio_Importations,Croissance_pop,Population_2017,PIB,Stabilité_Politique,CO2
0,Afghanistan,2017.0,0.0,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,...,0.0,49.12,7991.23,76.68,30.09,12.48,36296.113,2058.4,-2.80,132.7927
1,Afrique du Sud,2017.0,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,...,0.0,78.71,425.87,102.42,13.49,6.19,57009.756,13860.3,-0.28,10778.1180
2,Albanie,2017.0,0.0,697.0,177.0,3400.0,1260.49,117.57,119.50,4879.0,...,4.0,27.66,1880.85,86.72,18.12,-0.68,2884.169,12771.0,0.38,425.6499
3,Algérie,2017.0,0.0,4884.0,2405.0,3345.0,798.71,79.62,92.85,45365.0,...,0.0,99.28,7118.41,58.99,43.47,8.52,41389.189,11737.4,-0.92,387.1334
4,Allemagne,2017.0,0.0,30904.0,8316.0,3559.0,943.24,147.96,104.07,174960.0,...,-29.0,87.06,3826.91,95.92,38.04,1.83,82658.409,53071.5,0.59,17581.3788

In [39]:

Df_AlimT_Vol_pop_PIB_stabPolitique_CO2.set_index("Zone", inplace=True) # La colonne "Zone" devient l'index de ligne
Df_AlimT_Vol_pop_PIB_stabPolitique_CO2 = Df_AlimT_Vol_pop_PIB_stabPolitique_CO2.fillna(0) # Remplace les valeurs "nan" par "0"
Df_AlimT_Vol_pop_PIB_stabPolitique_CO2.head() # Visualisation des 5 premières lignes du dataFrame

,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,...,V-Variation de stock,V-Ratio_Autosuffisance,V-Ratio_Importations,Ratio_Autosuffisance,Ratio_Importations,Croissance_pop,Population_2017,PIB,Stabilité_Politique,CO2
Zone,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2017.0,0.0,456.0,94.0,1997.0,357.31,30.63,54.09,15139.0,601.0,...,0.0,49.12,7991.23,76.68,30.09,12.48,36296.113,2058.4,-2.80,132.7927
Afrique du Sud,2017.0,0.0,9371.0,1448.0,2987.0,556.42,81.92,83.36,66840.0,10968.0,...,0.0,78.71,425.87,102.42,13.49,6.19,57009.756,13860.3,-0.28,10778.1180
Albanie,2017.0,0.0,697.0,177.0,3400.0,1260.49,117.57,119.50,4879.0,156.0,...,4.0,27.66,1880.85,86.72,18.12,-0.68,2884.169,12771.0,0.38,425.6499
Algérie,2017.0,0.0,4884.0,2405.0,3345.0,798.71,79.62,92.85,45365.0,743.0,...,0.0,99.28,7118.41,58.99,43.47,8.52,41389.189,11737.4,-0.92,387.1334
Allemagne,2017.0,0.0,30904.0,8316.0,3559.0,943.24,147.96,104.07,174960.0,58793.0,...,-29.0,87.06,3826.91,95.92,38.04,1.83,82658.409,53071.5,0.59,17581.3788

In [40]:
# Transformation du dataFrame "Df_AlimT_Vol_pop_PIB_stabPolitique_CO2" en format "csv" 

Df_AlimT_Vol_pop_PIB_stabPolitique_CO2.to_csv("Df_analyse.csv")